@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.accountType @ViewBag.username</h1>
    <ul>
        @foreach (var x in ViewBag.classes)
        {
            <li>@x</li>
        }
    </ul>
</div>
