@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User @ViewBag.userName</h1>
    <ul>
        @foreach (var x in ViewBag.accountType)
        {
            <li>@x</li>
        }
    </ul>
</div>
