
@{
    ViewData["Title"] = "PasswordManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Password Manager</h1>
<a href='@Url.Action("ResetPassword", "HomeController", new { username = "0957146" })'>Submit</a>