
@{
    ViewData["Title"] = "PasswordManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Password Manager</h1>

@if (@ViewBag.userId != null){ 
    <h3>Cannot find user @ViewBag.userId</h3>
}

<form action="@Url.Action("PasswordReset", "Home")" method="post">
    <input type="text" name="userId">
    <input type="submit" value="Submit">
</form>