
@{
    ViewData["Title"] = "PasswordManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Password Manager</h1>
<input type="button"
       name="submit"
       value="submit"
       onclick="location.href='<%: Url.Action("PasswordReset", "HomeController", new {username = "0957146"}, null ) %>'" />
