
@{
    ViewData["Title"] = "PasswordManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Password Manager</h1>

<form action="@Url.Action("PasswordReset", "Home")" method="post">
    <input type="text" name="userId">
    <input type="submit" value="Submit">
</form>